.herosection_container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  height: 50vh;
  background-color: rgb(232, 232, 232); 
  
   /* background-color: red; */
  
  
}
.herosection_left {
    margin: auto;
    margin-left:5rem ;
}
.herosection_left p{
    font-weight: 400;
}
.herosection_left h2{
    margin-top: -1rem;
}
.button {
    background-color: rgb(98 84 243);
    color: rgb(255, 255, 255);
    border-radius: 9px;
}

.herosection_right {
  margin: auto;
  

  
}

.herosection_right_img {
  height: 25vh;
  width: 20rem;
  border-radius: 19px;
  
  
}
